.section-ranking {
  background-color: $color-grey-light-2;
  padding: 5rem 0;

  .ranking-table-wrapper {
    padding: 0vh 5vh;

    .ranking-table__title {
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1.75rem;
      padding-bottom: 1rem;
    }

    .ranking-table {
      border-collapse: collapse;
      width: 100%;
      
      td, th {
        border: 1px solid $color-primary-dark;
        padding: 8px;
      }

      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: $color-grey-dark;
        color: $color-grey-light-2;
      }

      td {
        .symbol-link {
          color: $color-grey-dark;
        }
      }

      tr:nth-child(even){
        background-color: $color-primary;
      }

      tr:hover {
        background-color: $color-primary-light;
      }
    }
  }
}
